*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  font-family:'poppins', sans-serif;
}
header{
    height:5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(173, 169, 169);
}
.container{
    width:100%;
    max-width: 1300px;
    padding: 1rem;
    height: 100%;
    

    margin-left: auto;
    margin-right: auto;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logofont{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 1.2rem;
   font-weight: 700;
}
#logo{
    color: red;
    border: none;
    background-color: transparent;
}
nav{
    display: none;
  
}
#navlist{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
   
}
ul li a{
    text-decoration: none;
    color:rgb(124, 121, 121)
 
}
ul li{
    list-style-type: none;
}
#navlist a:hover{
    color: orange;
    transition: all 0.1s ease-in-out;
   
}
section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
p{
    margin-top: 1rem;
    color:rgb(92, 90, 90);
    line-height: 170%;
}
h1{
    font-size: 2.4rem;
    line-height: 100%;
}
h2{
    font-size: 2rem;
    line-height: 100%;
}
h3{
    margin-bottom: 2rem;
    margin-bottom: 1rem;
}
#about{
    background-color: rgb(224, 222, 222);
}
.btn-primary{
    background-color: black;
    color:white;
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
  
}

.btn-primary:hover{
    background-color: rgb(67, 66, 66);
}
.btn-secondary{
    display: flex;
    border: 1px solid black;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.1s ease-in-out;
}

.btn-holder{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
}

.btn-secondary:hover{
    color:white;
    background-color:orange;
}
.blog img{
    width: 100%;
  
}
.blog{
   padding: 1rem;
   border: 1px solid grey;
   border-radius: 5px;
   margin-top: 1rem;
}
.blog p{
    font-size: 0.9rem;
}

.blog-list{
      display: flex;
      flex-direction: column;
      gap: 1rem;
}
@media only screen and ( min-width:576px){
    .blog-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .btn-holder{
        display: flex;
        flex-direction: row;
        justify-content:safe

    }
    .btn-secondary,.btn-primary{
        padding:1rem;
    }


}
@media only screen and ( min-width:768px){


    #logo{
        display: none;
      
    }
    nav{
        display: block;
    }
    .blog-list{
        
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
@media only screen and ( min-width:992px){
    .blog-list{
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
@media only screen and ( min-width:1200px){
    .blog-list{
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}